language: python

python:
    - "3.6"
    - "3.7"

cache: pip

install:
    - sudo apt-get update
    - wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    - bash miniconda.sh -b -p $HOME/miniconda
    - source "$HOME/miniconda/etc/profile.d/conda.sh"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a

    - conda env create -f environment.yml -q  python=$TRAVIS_PYTHON_VERSION
    - conda activate flashtorch
    - python setup.py install

script:
    - pytest
